language: python
sudo: false
python:
  - 2.6
  - 2.7
  - 3.3
  - 3.4
  - 3.5
  - 3.6

matrix:
  fast_finish: true

cache: pip

install:
  - pip install -r dev_requirements.txt
script:
  - py.test -lv --cov stream --cov-report term-missing
after_script:
  - "pep8 --exclude=migrations --ignore=E501,E225,W293 stream"
  - "python setup.py install"

